In [1]:
a = [1,2,3,4,5,6]

In [2]:
b = [13,21,34]

In [4]:
a_b = a.append(b)

In [5]:
print(a_b)

None

In [6]:
print(a.extend(b))

None

In [7]:
import numpy as np

In [8]:
A = np.array(a)

In [9]:
B = np.array(b)

In [11]:
print(B)

[13 21 34]

In [12]:
print(a and b)

[13, 21, 34]

In [13]:
pprint(a + b)

Pretty printing has been turned OFF

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [16]:
A = np.array([1,0,0],[0,1,0],[0,0,1])

ValueError: only 2 non-keyword arguments accepted

In [17]:
import pandas as pd

In [20]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [29]:
fuel_data = pd.read_csv(url,index_col = 'fuel_type_code_pudl'  )

In [23]:
print(fuel_data.head(5))

                        utility_id_ferc1  report_year      plant_name_ferc1  \
record_id
f1_fuel_1994_12_1_0_7                  1         1994              rockport
f1_fuel_1994_12_1_0_10                 1         1994  rockport total plant
f1_fuel_1994_12_2_0_1                  2         1994                gorgas
f1_fuel_1994_12_2_0_7                  2         1994                 barry
f1_fuel_1994_12_2_0_10                 2         1994             chickasaw

                       fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
record_id
f1_fuel_1994_12_1_0_7                 coal       ton        5377489.0
f1_fuel_1994_12_1_0_10                coal       ton       10486945.0
f1_fuel_1994_12_2_0_1                 coal       ton        2978683.0
f1_fuel_1994_12_2_0_7                 coal       ton        3739484.0
f1_fuel_1994_12_2_0_10                 gas       mcf          40533.0

                        fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
record_id
f1_fuel_1994_12_1_0_7                16.590                      18.59
f1_fuel_1994_12_1_0_10               16.592                      18.58
f1_fuel_1994_12_2_0_1                24.130                      39.72
f1_fuel_1994_12_2_0_7                23.950                      47.21
f1_fuel_1994_12_2_0_10                1.000                       2.77

                        fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
record_id
f1_fuel_1994_12_1_0_7                          18.53                1.121
f1_fuel_1994_12_1_0_10                         18.53                1.120
f1_fuel_1994_12_2_0_1                          38.12                1.650
f1_fuel_1994_12_2_0_7                          45.99                1.970
f1_fuel_1994_12_2_0_10                          2.77                2.570

In [24]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [32]:
fuel_data["fuel_cost_per_unit_burned"]

fuel_type_code_pudl
coal    18.59
coal    18.58
coal    39.72
coal    47.21
gas      2.77
        ...
gas      4.78
gas      3.65
gas      4.77
coal     3.06
gas      0.00
Name: fuel_cost_per_unit_burned, Length: 29523, dtype: float64

In [33]:
fuel_data.set_index("fuel_type_code_pudl").T.to_dict(fuel_data["fuel_cost_per_unit_burned"])

KeyError: "None of ['fuel_type_code_pudl'] are in the columns"

In [34]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [35]:
len(fuel_data)

29523